[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RSC"]
	path = RSC
	url = https://github.com/cran/RSC
[submodule "qcluster"]
	path = qcluster
	url = https://github.com/cran/qcluster
